@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  display: none; 
}
        
* {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

html{
  user-select: none;
}

@font-face {
  font-family: 'anurati';
  src: url('../assets/Anurati.otf')  format('opentype');
}

@font-face {
  font-family: 'montserrat';
  src: url('../assets/Montserrat/Montserrat-VariableFont_wght.ttf')  format('truetype');
}

@font-face {
  font-family: 'Plutur';
  src: url('../assets/Plutur.ttf')  format('truetype');
  src: url('../assets/Plutur.otf')  format('opentype'),
}

@font-face {
  font-family: 'nusar';
  src: url('../assets/NUSAR/NUSAR.ttf')  format('truetype');
  src: url('../assets/NUSAR/NUSAR.otf')  format('opentype'),
}


#particles-js {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -100;
  top:0;
  left:0;
}

.line-1{
  top: 50%;
  border-right: 2px solid rgba(255,255,255,.75);
  font-size: 180%;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);    
}

.anim-typewriter{
animation: typewriter 1s steps(27) 1s 1 normal both,
           blinkTextCursor 1000ms infinite normal;
}
@keyframes typewriter{
0%{
  width: 0%; border-right: 0px;}
1%{
  width: 0%; border-right: 2px solid rgba(255,255,255,.75);}
99%{
  width: min-content; border-right: 2px solid rgba(255,255,255,.75);
}
100%{width: min-content; border-right: 0px;} 
}

@keyframes blinkTextCursor{
  0%{
    border-right-color: #ffffff;}
  25%{
    border-right-color: #ffffff;
  }
  50%{border-right-color: transparent;}
  75%{
    border-right-color: #ffffff;
  }
  100%{
    border-right-color: transparent;
  } 
}


.tracking-in-expand {
	-webkit-animation: tracking-in-expand 4s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.2s both;
	        animation: tracking-in-expand 4s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.2s both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.animate-charcter
{
  text-transform: uppercase;
  font-weight: 600;
  background-image: linear-gradient(
    90deg,
    #f12711 33%,
    #f5af19 66%,
    #f12711 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 2vw;
}

.animate-charcter-cs
{
  text-transform: uppercase;
  font-weight: 600;
  background-image: linear-gradient(
    90deg,
    #12c2e9 25%,
    #c471ed 50%,
    #f64f59 75%,
    #12c2e9 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 2vw;
}

.animate-charcter-date
{
  text-transform: uppercase;
  font-weight: 600;
  background-image: linear-gradient(
    90deg,
    #C6FFDD 25%,
    #FBD786 50%,
    #f7797d 75%,
    #C6FFDD 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 2vw;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.slide-in-blurred-bottom {
	-webkit-animation: slide-in-blurred-bottom 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-bottom 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

 @-webkit-keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(80px);
            filter: blur(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(80px);
            filter: blur(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}


.nirdesh-heading{
  font-size: 15vw;
  font-weight: 500;
}
.about-us{
  font-size: 5vh;
  font-weight: 500;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  bottom: 0;
  margin: auto 0;
}

.about-us-para{
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  bottom: 0;
  margin: auto 0;
}

.brackets{
  width: 8vw;
}

.code-text{
  font-size: 0.8rem
}

.terminal-code-text{
  font-size: 0.6rem
}

#initial-code-1, #initial-code-2, #initial-code-10{
  margin-left: 6vw;
}
#initial-code-3, #initial-code-9{
  margin-left: 10vw;
}
#initial-code-4, #initial-code-5, #initial-code-6, #initial-code-7, #initial-code-8{
  margin-left: 14vw;
}

.administrator-text{
  font-size: 0.5rem;
}

.fixed {
  position: fixed !important;
  top: 0;
  transform: translateY(0);
}


.tick {
  font-size:1rem; white-space:nowrap; font-family:arial,sans-serif;
}

.tick-flip,.tick-text-inline {
  font-size:1em;
}

.tick-label {
  margin-top:1em;font-size:1em;
}

.tick-char {
  width:1.5em;
}

.tick-text-inline {
  display:inline-block;
  text-align:center;
  min-width:1em;
}

.tick-text-inline+.tick-text-inline {
  margin-left:-.325em;
}

.tick-group {
  margin:0 0.1em;
  text-align:center;
  display: flex;
}
.tick-group::after{
  padding-left: 0.5rem;
  content: ":";
}
.tick-group:last-child::after{
  content: "";
}

.tick-text-inline {
   color: rgb(90, 93, 99) !important; 
}

.tick-label {
   color: rgb(90, 93, 99) !important; 
}

.tick-flip-panel {
   color: rgb(255, 255, 255) !important; 
}


.tick-flip-panel-text-wrapper {
   line-height: 1.45 !important; 
}

.tick-flip-panel {
   background-color: rgb(59, 61, 59) !important; 
}

.tick-flip {
   border-radius:0.12em !important; 
}



@media (min-width: 500px) {
  .nirdesh-heading{
    font-size: 15vw;
  }
  .about-us{
    font-size: 10vw;
    font-weight: 500;
  }
  .code-text{
    font-size: 1rem
  }
}



@media (min-width: 769px) {
  .code-text{
    font-size: 1.2rem
  }
  .brackets{
    width: 6vw;
  }
  #initial-code-1, #initial-code-2, #initial-code-10{
    margin-left: 12vw;
  }
  #initial-code-3, #initial-code-9{
    margin-left: 17vw;
  }
  #initial-code-4, #initial-code-5, #initial-code-6, #initial-code-7, #initial-code-8{
    margin-left: 22vw;
  }
  .terminal-code-text{
    font-size: 1rem
  }
  .administrator-text{
    font-size: 1rem;
  }


  .tick-flip,.tick-text-inline {
    font-size:2.5em;
  }

  .tick-group {
    margin:0 0.5em;
    text-align:center;
  }

  .tick-group::after{
    padding-left: 0.5rem;
    content: ":";
    font-size: x-large;
  }
}

@media (min-width: 1400px){
  .tick-group::after{
    padding-left: 0.5rem;
    content: ":";
    font-size: xx-large;
  }
}
