@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  display: none;
}
        
* {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}

.blurred-in{
  -webkit-animation: blurred-in 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: blurred-in 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes blurred-in {
  0% {
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
  }
  100% {
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
}
@keyframes blurred-in {
  0% {
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
  }
  100% {
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
        
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.scale-down-center {
	-webkit-animation: scale-down-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-down-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
        
@-webkit-keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.blurred-out{
  -webkit-animation: blurred-out 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: blurred-out 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes blurred-out {
  0% {
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
  100% {
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
  }
}
@keyframes blurred-out {
  0% {
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
  100% {
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
  }
}